
# PlanAhead Generated physical constraints 

NET "O[0]" LOC = F12;
NET "O[1]" LOC = E12;
NET "O[2]" LOC = E11;
NET "O[3]" LOC = F11;
NET "O[4]" LOC = C11;
NET "O[5]" LOC = D11;
NET "O[6]" LOC = E9;
NET "Y[0]" LOC = L13;
NET "Y[1]" LOC = L14;
NET "Y[2]" LOC = H18;
NET "Y[3]" LOC = N17;
NET "carry" LOC = F9;
NET "PB1" LOC = V4;
NET "PB2" LOC = D18;
NET "PB3" LOC = K17;
NET "PB4" LOC = H13;

# PlanAhead Generated IO constraints 

NET "PB4" PULLDOWN;
NET "PB3" PULLDOWN;
NET "PB2" PULLDOWN;
NET "PB1" PULLDOWN;
NET "Y[3]" PULLUP;
NET "Y[2]" PULLUP;
NET "Y[1]" PULLUP;
NET "Y[0]" PULLUP;
NET "O[6]" IOSTANDARD = LVTTL;
NET "O[5]" IOSTANDARD = LVTTL;
NET "O[4]" IOSTANDARD = LVTTL;
NET "O[3]" IOSTANDARD = LVTTL;
NET "O[2]" IOSTANDARD = LVTTL;
NET "O[1]" IOSTANDARD = LVTTL;
NET "O[0]" IOSTANDARD = LVTTL;
NET "Y[3]" IOSTANDARD = LVTTL;
NET "Y[2]" IOSTANDARD = LVTTL;
NET "Y[1]" IOSTANDARD = LVTTL;
NET "Y[0]" IOSTANDARD = LVTTL;
NET "carry" IOSTANDARD = LVTTL;
NET "PB1" IOSTANDARD = LVTTL;
NET "PB2" IOSTANDARD = LVTTL;
NET "PB3" IOSTANDARD = LVTTL;
NET "PB4" IOSTANDARD = LVTTL;
NET "O[6]" DRIVE = 8;
NET "O[5]" DRIVE = 8;
NET "O[4]" DRIVE = 8;
NET "O[3]" DRIVE = 8;
NET "O[2]" DRIVE = 8;
NET "O[1]" DRIVE = 8;
NET "O[0]" DRIVE = 8;
NET "carry" DRIVE = 8;
NET "PB1" CLOCK_DEDICATED_ROUTE= FALSE;
NET "PB2" CLOCK_DEDICATED_ROUTE= FALSE;
NET "PB3" CLOCK_DEDICATED_ROUTE= FALSE;
NET "PB4" CLOCK_DEDICATED_ROUTE= FALSE;